@model PizzaStore.Models.OrderDetail;
@{
    ViewData["Title"] = "Wow";
}




@using (Html.BeginForm())
{
    <fieldset>
        <legend>@Model.Product.Name</legend>
        <p>@Model.Product.Descriptions</p>

		<div class="editor-field">
			<p>
				Product ID:
				@Html.DisplayFor(model => model.ProductId)
				@Html.HiddenFor(model => model.ProductId)
				@Html.ValidationMessageFor(model => model.ProductId)
			</p>
		</div>

		<div class="editor-label">
			@Html.Label("Select any Quantity")
		</div>
		<div class="editor-field">
			@Html.EditorFor(Model => Model.Quantity)
			@Html.ValidationMessageFor(Model => Model.Quantity)
		</div>
		@if(ViewBag.Negative == "true")
		{
			<p style ="color: red">
				The quantity must be greater than 0
			</p>
		}

		<br />
		<p>
			<input type="submit" value="Add to Cart" />
		</p>

    </fieldset>
}

@Html.ActionLink("Back to List", "Index")