@model PizzaStore.Models.OrderDetail
@{
    ViewData["Title"] = "Edit";
}

@using (Html.BeginForm())
{
	@Html.ValidationSummary(true)
    <fieldset>
        <legend>Edit quantity of @Model.Product.Name</legend>

		<div class="editor-field" hidden>
			<p>
				Product ID:
				@Html.DisplayFor(model => model.Id)
				@Html.HiddenFor(model => model.Id)
				@Html.ValidationMessageFor(model => model.Id)
			</p>
		</div>

		<div>
			@Model.Product.Descriptions
		</div>

		<div class="editor-label">
			@Html.LabelFor(Model => Model.Quantity)
		</div>
		<div class="editor-field">
			@Html.EditorFor(Model => Model.Quantity)
			@if (Model.Quantity <= 0)
			{
				<a style="color: red">
					Quantity must be greater than 0
				</a>
			}
		</div>
		<br />
		<input type="submit" value="Save Changes" class="btn btn-outline-secondary"/>
    </fieldset>
}