@model IEnumerable<PizzaStore.Models.OrderDetail>

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
	ViewData["Title"] = "Checkout";
}

<h3>Checkout</h3>

@foreach (OrderDetail orderDetail in Model)
{
	<br />
	<h6>
		@orderDetail.Product.Name
	</h6>
	<div>
		Quantity: @orderDetail.Quantity
	</div>

}
<div>
	The total cost of the cart is:
	$@ViewData["Total"]


</div>
<br />
<div>
	<p onclick="location.href = '@Url.Action("Index", "Home")'">
		<input type="button" value="Add More" />
	</p>
</div>

<div>
	Please select the pickup method
</div>
<div>
	<a onclick="location.href = '@Url.Action("Confirm", "Checkout", new { method = "pickup" })'">
		<input type="button" value="Pickup" />
	</a>
	|
	<a onclick="location.href = '@Url.Action("Delivery", "Checkout", new { method = "delivery" })'">
		<input type="button" value="Delivery" />
	</a>
</div>