@model PizzaStore.Models.Product
@{
    ViewData["Title"] = "Edit";
}

@using (Html.BeginForm())
{
	@Html.ValidationSummary(true)
	<fieldset>
		<legend>Add New Product</legend>

		<div class="editor-field">
			<p>
				Product ID:
				@Html.DisplayFor(model => model.Id)
				@Html.HiddenFor(model => model.Id)
				@Html.ValidationMessageFor(model => model.Id)
			</p>
		</div>

		<div class="editor-label">
			@Html.LabelFor(Model => Model.Name)
		</div>
		<div class="editor-field">
			@Html.EditorFor(Model => Model.Name)
			@Html.ValidationMessageFor(model => model.Name)
		</div>

		<div class="editor-label">
			@Html.LabelFor(Model => Model.Price)
		</div>
		<div class="editor-field">
			@Html.EditorFor(Model => Model.Price)
			@Html.ValidationMessageFor(model => model.Price)
		</div>

		<div class="editor-label">
			@Html.LabelFor(Model => Model.Descriptions)
		</div>
		<div class="editor-field">
			@Html.TextAreaFor(Model => Model.Descriptions, 5, 50, "null")
			@Html.ValidationMessageFor(model => model.Descriptions)
		</div>

		<br />
		<p>
			<input type="submit" value="Save Changes" />
		</p>
	</fieldset>
}