@model PizzaStore.Domain.Entities.OrderDetail;
@{
	ViewData["Title"] = Model.Product.Name;
}




@using (Html.BeginForm())
{
	<fieldset>
		<span>
			<a asp-action="Index" class="btn btn-outline-secondary">
				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
					<path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8" />
				</svg> 
				Back
			</a>
		</span>
		<h4 style="text-align:center">@Model.Product.Name</h4>

		<div>
			<img src="/css/ProductImages/@Model.Product.Image" width="400" />
		</div>

		<div class="editor-field">
			<p>
				@Html.HiddenFor(model => model.Product.Id)
			</p>
		</div>

		<div class="editor-label">
			@Html.Label("Select any Quantity")
		</div>
		<div class="editor-field">
			@Html.EditorFor(Model => Model.Quantity)
			@if (ViewBag.QuantityError == "true")
			{
				<a style="color: red">
					@Html.ValidationMessageFor(Model => Model.Quantity, "The quantity must be greater than 0")
				</a>
			}

		</div>


		<br />
		<input type="submit" value="Add to Cart" class="btn btn-primary" />
	</fieldset>
}
